Repository Abelhubprog/PROWZI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prowzi/engineering-team, @prowzi/security-team, @prowzi/engineering-leads, @prowzi/devops-team, @prowzi/data-team, @prowzi/rust-team, @prowzi/architecture-team, @prowzi/reliability-team, @prowzi/backend-team, @prowzi/frontend-team, @prowzi/ml-team, @prowzi/ai-team, @prowzi/product-team, @prowzi/api-team, @prowzi/documentation-team, @prowzi/legal-team, @prowzi/qa-team

CI: fix security scans after repo restructure
  .github/workflows/security.yml
  what_changed.md
Owners: @prowzi/devops-team, @prowzi/engineering-leads, @prowzi/engineering-team

fix: resolve GitHub Actions security workflow YAML syntax errors
  .github/workflows/security.yml
  what_changed.md
Owners: @prowzi/devops-team, @prowzi/engineering-leads, @prowzi/engineering-team

Update README.md
  README.md
Owners: @prowzi/documentation-team

fix: replace corrupted security-scan.yml with clean workflow
  .github/workflows/security-scan.yml
Owners: @prowzi/devops-team, @prowzi/engineering-leads

fix: improve security workflow resilience for multi-package structure
  .github/workflows/security-scan.yml
Owners: @prowzi/devops-team, @prowzi/engineering-leads

fix: simplify container and iac scan jobs for reliability
  .github/workflows/security-scan.yml
Owners: @prowzi/devops-team, @prowzi/engineering-leads

Remove prowzi Agents.txt and update analytics dependencies
  attached_assets/prowzi Agents.txt
  platform/analytics/package.json
  platform/analytics/pnpm-lock.yaml
Owners: @prowzi/engineering-team

chore: add missing lockfile for webhook-verify package
  packages/@prowzi/webhook-verify/pnpm-lock.yaml
Owners: @prowzi/engineering-team

chore: fix semver issues and update dependencies
  platform/curator/package.json
  platform/mission-control/package.json
Owners: @prowzi/ai-team, @prowzi/product-team

chore: add missing lockfiles for all workspaces
  platform/api/pnpm-lock.yaml
  platform/curator/pnpm-lock.yaml
  platform/mission-control/pnpm-lock.yaml
  platform/security/package.json
  platform/security/pnpm-lock.yaml
  platform/shared/pnpm-lock.yaml
  platform/web/pnpm-lock.yaml
  sdk/auth/pnpm-lock.yaml
Owners: @prowzi/engineering-team, @prowzi/ai-team, @prowzi/product-team, @prowzi/security-team, @prowzi/frontend-team

chore(webhook-verify): move prepublish to prepublishOnly
  packages/@prowzi/webhook-verify/package.json
Owners: @prowzi/engineering-team

fix(core): pin base64ct 1.7.3 to avoid edition2024 requirement
  agent-runtime/core/Cargo.toml
Owners: @prowzi/architecture-team

chore(core): add Cargo.lock after dependency alignment
  agent-runtime/core/Cargo.lock
Owners: @prowzi/architecture-team

.github/CODEOWNERS:

# Global code owners
* @prowzi/engineering-team

# Security critical paths
/.github/ @prowzi/security-team @prowzi/engineering-leads
/infrastructure/ @prowzi/devops-team @prowzi/engineering-leads
/platform/security/ @prowzi/security-team
/platform/auth/ @prowzi/security-team
/migrations/ @prowzi/data-team @prowzi/engineering-leads

# Agent runtime (Rust)
/agent-runtime/ @prowzi/rust-team @prowzi/engineering-leads
/agent-runtime/core/ @prowzi/architecture-team
/agent-runtime/orchestrator/ @prowzi/architecture-team
/agent-runtime/guardian/ @prowzi/reliability-team

# Platform services
/platform/gateway/ @prowzi/backend-team
/platform/web/ @prowzi/frontend-team
/platform/ml-models/ @prowzi/ml-team
/platform/curator/ @prowzi/ai-team
/platform/mission-control/ @prowzi/product-team

# Data and schemas
/database/ @prowzi/data-team
/schemas/ @prowzi/data-team
/protos/ @prowzi/api-team

# DevOps and infrastructure
/docker/ @prowzi/devops-team
/infrastructure/k8s/ @prowzi/devops-team
/infrastructure/terraform/ @prowzi/devops-team
/infrastructure/charts/ @prowzi/devops-team

# Documentation and governance
/README.md @prowzi/documentation-team
/governance/ @prowzi/legal-team @prowzi/engineering-leads

# CI/CD and testing
/.github/workflows/ @prowzi/devops-team @prowzi/engineering-leads
/tests/ @prowzi/qa-team
/scripts/ @prowzi/devops-team
